{{ define "main" }}
    {{ partial "info.html" . }}

    <hr style="margin-top:1.5rem">

    <p class="text-2xl">About</p>
    {{ with .Site.GetPage "/about"}}
      {{ .Content }}
    {{ end }}

    <hr>

    <p class="text-2xl">Publications</p>
    {{ with .Site.GetPage "/publications"}}
      {{ partial "publist.html" . }}
    {{ end }}

    <hr>

    <p class="text-2xl">Education</p>
    {{ with .Site.GetPage "/education"}}
      {{ .Content }}
    {{ end }}

<!--
    <hr>

    <p class="text-2xl">Honor & Awards</p>
    {{ with .Site.GetPage "/awards"}}
      {{ .Content }}
    {{ end }}
-->
{{ end }}
